 
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 @import url('https://fonts.googleapis.com/css2?family= Poppins: wght @400;500 & display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, #ffd166, #118ab2);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}